html {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.cards {
  display: flex;
  flex-direction: row;
}

.one {
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  background-color: #e2e2e2;
  padding: .75rem;
  flex-grow: 1;
}

.two {
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  background-color: #ccc;
  padding: .75rem;
  flex-grow: 1;
}

.three {
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  background-color: #aaa;
  padding: .75rem;
  flex-grow: 1;
}

.four {
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  background-color: #999;
  padding: .75rem;
  flex-grow: 1;
}

.btn {
  display: inline-block;
  border-radius: 8px;
  color: #fff;
  background-color: #333;
  font-size: 1.125rem;
  text-decoration: none;
  border: 3px solid #333;

.btn-small {
  font-size: .875rem;
}

img {
  display: block;
  width: 100px;
}

h2 {
  font-size: 2rem;
  font-style: bold;
  text-align: center;
}
