html {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
}

.cards {
  display: flex;
  flex-direction: row;
  border-left: 1px solid #333;
}

.btn {
  display: inline-block;
  padding-top: 1.5;
  border-radius: 8px;
  color: #fff;
  background-color: #333;
  font-size: 1.125rem;
  text-decoration: none;
  border: 3px solid #333;
  font-size: .875rem;
